{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Browse Elected Officials</h1>
    <p>
        This page uses the <code>api_grid</code> component, and the datatable's AJAX call using API Platform.
    </p>

    {% set class = 'App\\Entity\\Official' %}

    {% component api_grid with {
        class: class,
        caller: _self,
        columns: ['id',
            'firstName',
            'lastName',
            'officialName']|merge(is_granted('ROLE_ADMIN')?['actions']:['birthday'])
    } %}

        {% block officialName %}
        <a href="{{ path('app_congress_show', {'id': row.id}) }}">
            {{ row.officialName }}
        </a>
        {% endblock %}

        {% block birthday %}
            {{ row.birthday|date('Y-m-d') }}
        {% endblock %}

        {% block actions %}
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        {% endblock %}

    {% endcomponent %}

{% endblock %}
