parameters:
    level: 0
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src
        - ./packages

    excludePaths:
      - 'src/Resources/skeleton'
      - */cache/*

    ignoreErrors:
            -
                message: '#.*NodeDefinition::children.*#'
                path: ./packages/
            -
                message: '#Should not use node with type "Stmt_Echo"#'
                path: packages/maker-bundle/templates/skeleton/
