parameters:
    level: 3
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src
        - ./packages

    excludePaths:
      - 'src/Resources/skeleton'
      - */cache/*

    ignoreErrors:
            -
                message: '#.*NodeDefinition::children.*#'
                path: ./src/DependencyInjection

