.tombstone-heading {
    max-width: 600px;
    width: 600px;
}

.tombstone-heading .tombstone {
    min-width: 120px;
    max-width: 100%;
    text-wrap: wrap;
    /*background-color: lightblue;*/

    /*// hack!*/
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;

}

.my-chart {
    /* width: 50%;
    height: 30vh; */
    max-height: 450px;
    max-width: 450px;
    /* border: 1px solid red; */
}

.avatar-group {
    padding-left: 12px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.avatar-group .avatar-group-item {
    margin-left: -12px;
    border: 2px solid var(--bs-secondary-bg);
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.progress-sm {
    height: 5px;
}

:root {
    --bs-body-font-family: "IBM Plex Sans", sans-serif;
    --bs-font-family-secondary: "IBM Plex Sans", sans-serif;
    --bs-grid-gutter-width: 1.5rem;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 241, 241, 241;
    --bs-headings-font-weight: 600;
    --bs-btn-font-weight-custom: 500;
    --bs-element-shadow: none;
    --bs-card-border-width-custom: 0;
    --bs-card-header-border-width: 1px;
    --bs-card-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    --bs-vertical-menu-item-font-size: 0.925rem;
    --bs-vertical-menu-sub-item-font-size: 0.875rem;
    --bs-vertical-menu-bg: #fff;
    --bs-vertical-menu-border: #fff;
    --bs-vertical-menu-item-color: #6d7080;
    --bs-vertical-menu-item-bg: rgba(var(--bs-primary-rgb), .15);
    --bs-vertical-menu-item-hover-color: var(--bs-primary);
    --bs-vertical-menu-item-active-color: var(--bs-primary);
    --bs-vertical-menu-item-active-bg: rgba(var(--bs-primary-rgb), .15);
    --bs-vertical-menu-sub-item-color: #7c7f90;
    --bs-vertical-menu-sub-item-hover-color: var(--bs-primary);
    --bs-vertical-menu-sub-item-active-color: var(--bs-primary);
    --bs-vertical-menu-title-color: #919da9;
    --bs-vertical-menu-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --bs-vertical-menu-dropdown-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
    --bs-twocolumn-menu-iconview-bg: #fff;
    --bs-sidebar-user-bg: #f1f4f7;
    --bs-sidebar-user-name-text: #32373b;
    --bs-sidebar-user-name-sub-text: #7c7f90;
    --bs-header-bg: #fff;
    --bs-header-border: #e9ebec;
    --bs-header-item-color: #495057;
    --bs-header-item-bg: rgba(112, 132, 199, 0.12);
    --bs-header-item-sub-color: #878a99;
    --bs-topbar-search-bg: #f3f3f9;
    --bs-topbar-user-bg: #f3f3f9;
    --bs-topbar-search-color: #262a2f;
    --bs-page-title-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    --bs-page-title-border: none;
    --bs-footer-bg: #fff;
    --bs-footer-color: #98a6ad;
    --bs-boxed-body-bg: #e7e7e7;
    --bs-timeline-color: var(--bs-secondary-bg);
    --bs-chat-primary-bg: var(--bs-light);
    --bs-chat-secondary-bg: rgba(var(--bs-success-rgb), 0.15);
    --bs-chat-secondary-color: var(--bs-success);
    --bs-primary: #5ea3cb;
    --bs-primary-rgb: 94, 163, 203;
    --bs-primary-bg-subtle: rgba(94, 163, 203, 0.15);
    --bs-primary-border-subtle: rgba(94, 163, 203, 0.3);
    --bs-primary-text-emphasis: #477a98;
    --bs-secondary: #7084c7;
    --bs-secondary-rgb: 112, 132, 199;
    --bs-secondary-bg-subtle: rgba(112, 132, 199, 0.15);
    --bs-secondary-border-subtle: rgba(112, 132, 199, 0.3);
    --bs-secondary-text-emphasis: #546395;
    --bs-danger: #fa896b;
    --bs-danger-rgb: 250, 137, 107;
    --bs-danger-bg-subtle: rgba(250, 137, 107, 0.15);
    --bs-danger-border-subtle: rgba(250, 137, 107, 0.3);
    --bs-danger-text-emphasis: #bc6750;
    --bs-warning: #f7b84b;
    --bs-warning-rgb: 247, 184, 75;
    --bs-warning-bg-subtle: rgba(247, 184, 75, 0.15);
    --bs-warning-border-subtle: rgba(247, 184, 75, 0.3);
    --bs-warning-text-emphasis: #b98a38;
    --bs-info: #58caea;
    --bs-info-rgb: 88, 202, 234;
    --bs-info-bg-subtle: rgba(88, 202, 234, 0.15);
    --bs-info-border-subtle: rgba(88, 202, 234, 0.3);
    --bs-info-text-emphasis: #4298b0;
    --bs-success: #6ada7d;
    --bs-success-rgb: 106, 218, 125;
    --bs-success-bg-subtle: rgba(106, 218, 125, 0.15);
    --bs-success-border-subtle: rgba(106, 218, 125, 0.3);
    --bs-success-text-emphasis: #50a45e;
    --bs-dark: #212529;
    --bs-dark-rgb: 33, 37, 41;
    --bs-dark-bg-subtle: rgba(33, 37, 41, 0.15);
    --bs-dark-border-subtle: rgba(33, 37, 41, 0.3);
    --bs-dark-text-emphasis: #191c1f;
    --bs-light: #f1f4f7;
    --bs-light-rgb: 241, 244, 247;
    --bs-light-bg-subtle: rgba(241, 244, 247, 0.15);
    --bs-light-border-subtle: rgba(241, 244, 247, 0.3);
    --bs-light-text-emphasis: #b5b7b9;
    --bs-link-color: #5ea3cb;
    --bs-link-color-rgb: 94, 163, 203;
    --bs-link-hover-color: #4b82a2;
    --bs-link-hover-color-rgb: 75, 130, 162;
    --bs-border-color: #e9ebec;
    --bs-border-color-translucent: #e9ebec;
}

body {
    background-color: #f1f1f1;
}

.card {
    --bs-card-cap-padding-y: 1rem;
    border-width: var(--bs-card-border-width-custom);
    box-shadow: var(--bs-card-shadow);
}

.customTable td:has(> .size-100) {
    background: transparent;
    height: 100px;
    width: 116px;
    max-width: 116px;
}

.customTable td .size-125,
.customTable td .size-100 {
    height: 100px;
    width: 100px;
    max-width: 100px;
}

.line-limit-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.customTable td:has(> .size-125) {
    background: transparent;
    height: 100px;
    width: 125px;
    max-width: 125px;
}

@media (max-width:500px) {
    .tombstone-heading {
        max-width: 100%;
        width: 100%;
    }

    .customTable table.dataTable>tbody>tr.child span.dtr-title {
        min-width: 130px !important;
    }

    .customTable ul li span.dtr-data {
        white-space: normal;
    }
}

#showCounts {
    height: 1.25em;
    width: 1.25em;
    margin-top: 0;
}

.form-control:focus,
#showCounts:focus {
    box-shadow: none;
    border: 1px solid var(--bs-primary);
}

.inner-page {
    font-size: 0.875rem;
}

.inner-page span,
.inner-page code {
    font-size: 0.875rem;
    font-weight: 600;
}

.inner-page .stats__item {
    margin-bottom: 1.5rem;
}

.inner-page .stats__item h6 {
    line-height: 1.1875;
    letter-spacing: .0625em;
}

.inner-page p {
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.inner-page .section-item .item__image {
    max-height: 58vh;
    min-height: 34.9rem;
    max-width: 900px;
    display: flex;
    margin: auto;
}

.inner-page .section-info {
    padding: 8rem 0 7.8rem;
    max-width: calc(128rem + 2.5rem* 2);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: auto;
    width: 100%;
}

.thumb-main .thumb_items {
    border: 1px solid #e9ebec;
    border-radius: .25rem;
    padding: .35rem;
    cursor: pointer;
}

.walters .stats__item {
    margin-bottom: 1.5rem;
    background-color: #f4f7f9;
    padding: 10px;
    border-radius: 4px;
    height: calc(100% - 1.5rem);
}

@media print {
    @media print and (min-width: 310px) {

        /* A3 size or larger */
        .walters-main .row>* {
            margin: 0;
        }

        .walters-main .walters-left,
        .walters-main .walters-right {
            width: 50%;
        }

        .walters-main .walters-left {
            padding-left: 0;
        }

        .walters-main .walters-right {
            padding-right: 0;
        }

        .walters-main.card .card-body {
            padding: 0;
        }
    }
}

body .navbar .navbar-nav .nav-link .badge {
    position: relative;
    transform: none;
    top: 0;
    right: 0;
}

.dt-container .dt-info {
    padding-top: var(--tblr-card-spacer-y);
}

div.dt-container div.dt-search {
    padding-top: 4px;
}

.dtsp-verticalContainer .dtsp-verticalPanes .dtsp-panesContainer {
    margin-bottom: 0;
}

.dtsp-verticalContainer .dtsp-verticalPanes .dtsp-searchPanes .dtsp-searchPane {
    margin-top: 4px !important;
}

.dtsp-verticalContainer .dtsp-verticalPanes .dtsp-panesContainer .dtsp-titleRow {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0;
}

.list-inline-dots {
    display: inline-flex;
    flex-wrap: wrap;
}

footer .nav-item .nav-link {
    gap: 6px;
}

.dt-container.dt-bootstrap5 .dt-scroll-body {
    border: none !important;
    background: none !important;
    padding-right: 0 !important;
    overflow: hidden;
}

.dt-container.dt-bootstrap5 .dt-scroll-body:hover {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.dt-container.dt-bootstrap5 .dt-scroll-body::-webkit-scrollbar {
    display: none;
}

.dt-container.dt-bootstrap5 .dt-scroll-body:hover::-webkit-scrollbar {
    display: block;
}

.dt-container.dt-bootstrap5 .dt-scroll-body {
    scrollbar-width: none;
}

.dt-container.dt-bootstrap5 .dt-scroll-body:hover {
    scrollbar-width: thin;
}

body .page-wrapper .page-header {
    margin: calc(var(--tblr-gutter-x) * .5) 0 0;
}

body .page-wrapper .page-header .page-title {
    line-height: var(--tblr-line-height-h3);
}

body .page-wrapper .page-body {
    margin-top: var(--tblr-spacer-2);
}

body .page-wrapper .page-body section.content h3 {
    margin-bottom: 8px;
}

body div.dtsb-searchBuilder div.dtsb-group {
    margin-bottom: 4px;
}


.attrs ul li.list-inline-itemxx svg {
    height: 1em;
}

.walters-right p .badge svg {
    height: 1em;
}

.walters-right .detail-page-title {
    min-width: 55px;
}

.list-inline-item {
    display: flex !important;
    max-width: max-content;
    word-wrap: break-word;
    text-wrap: auto;
    gap: 0.5rem;
}

.list-inline-item svg {
    height: 1em;
}

.list-inline-item .tag {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    max-height: 45px;
    display: block;
}