/*these are our enhancements to onsen, for reuse with the twig template and dexie components*/

/*.ons-mobile-thumbnail {*/
/*    width: auto;*/
/*    height: 70px;*/
/*}*/

.ons-mobile-box {
    padding: 0 16px;
}

.ons-mobile-box .ons-page-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 4px;
}

.ons-mobile-box .ons-mobile-count {
    margin-bottom: 20px;
    display: block;
}

body .list-item__center {
    padding: 0 16px;
}
.ons-mobile-list-item--material .ons-mobile-list-item--material__left{
    padding: 10px 0;
}

.list-item--material .list-item__left img {
    height: 70px;
    width: 70px;
    /*border-radius: 50%;*/
    object-fit: cover;
    border: 2px solid #f1f1f1;
}

body .page--material__content .detail-page-title {
    font-weight: 700;
}

.detail-image {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
}

body .page--material__content .sub-title {
    font-weight: 600;
}
