{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Grid Demo</h1>

    This demo shows how to use the grid and api_grid components.

    <ul>
        <li>Grid: Given data, easily display a table with sorting, pagination, and more.</li>
        <li>API Grid: Given an api-platform configured entity, dynamically load data for tablular display</li>
    </ul>
</div>
{% endblock %}
