{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Grid Demo</h1>

    <ul>

        <li>Your controller at <code><a href="{{ '/home/tac/survos/demos/datatables-demo/src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/tac/survos/demos/datatables-demo/templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
