{% extends 'base.html.twig' %}

{% block title %}Edit Official{% endblock %}

{% block body %}
    <h1>Edit Official</h1>

    {{ include('official/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_official_index') }}">back to list</a>

    {{ include('official/_delete_form.html.twig') }}
{% endblock %}
