name: 'Packages Split'

on:
  push:
    branches:
      - main
    tags:
      - '*'

env:
  # 1. for Github split
  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

#  # 2. for Gitlab split
#  GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}

jobs:

  packages_split:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # define package to repository map
        package:
          - {local_path: 'recipes', split_repository: 'SurvosRecipes'}

          - {local_path: 'api-grid-bundle', split_repository: 'SurvosApiGridBundle'}
          - {local_path: 'auth-bundle', split_repository: 'SurvosAuthBundle'}
          - {local_path: 'barcode-bundle', split_repository: 'BarcodeBundle'}
          - {local_path: 'bootstrap-bundle', split_repository: 'BootstrapBundle'}
          - {local_path: 'command-bundle', split_repository: 'SurvosCommandBundle'}
          - {local_path: 'core-bundle', split_repository: 'SurvosCoreBundle'}
          - {local_path: 'crawler-bundle', split_repository: 'SurvosCrawlerBundle'}
          - {local_path: 'deployment-bundle', split_repository: 'SurvosDeploymentBundle'}
          - {local_path: 'doc-bundle', split_repository: 'SurvosDocBundle'}
          - {local_path: 'datatables-bundle', split_repository: 'SurvosDatatablesBundle'}
          - {local_path: 'faker-bundle', split_repository: 'SurvosFakerBundle'}
          - {local_path: 'grid-bundle', split_repository: 'SurvosGridBundle'}
          - {local_path: 'grid-group-bundle', split_repository: 'SurvosGridGroupBundle'}
          - {local_path: 'html-prettify-bundle', split_repository: 'HtmlPrettifyBundle'}
          - {local_path: 'inspection-bundle', split_repository: 'SurvosInspectionBundle'}
          - {local_path: 'libre-translate-bundle', split_repository: 'LibreTranslateBundle'}
          - {local_path: 'liform-bundle', split_repository: 'SurvosLiformBundle'}
          - {local_path: 'location-bundle', split_repository: 'LocationBundle'}
          - {local_path: 'sitemap-parser-bundle', split_repository: 'SurvosSitemapParserBundle'}
          - {local_path: 'key-value-bundle', split_repository: 'SurvosKeyValueBundle'}
          - {local_path: 'maker-bundle', split_repository: 'SurvosMakerBundle'}
          - {local_path: 'meili-admin-bundle', split_repository: 'SurvosMeiliAdminBundle'}
          - {local_path: 'providence-bundle', split_repository: 'SurvosProvidenceBundle'}
          - {local_path: 'reveal-bundle', split_repository: 'SurvosRevealBundle'}
          - {local_path: 'scraper-bundle', split_repository: 'SurvosScraperBundle'}
          - {local_path: 'simple-datatables-bundle', split_repository: 'SurvosSimpleDatatablesBundle'}
          - {local_path: 'tree-bundle', split_repository: 'SurvosTreeBundle'}
          - {local_path: 'wiki-bundle', split_repository: 'SurvosWikiBundle'}
          - {local_path: 'workflow-helper-bundle', split_repository: 'SurvosWorkflowHelperBundle'}

    steps:
      -   uses: actions/checkout@v3

      # no tag
      -
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: danharrin/monorepo-split-github-action@v2.3.0
        with:
          # ↓ split "packages/easy-coding-standard" directory
          package_directory: 'packages/${{ matrix.package.local_path }}'

          # ↓ into https://github.com/symplify/easy-coding-standard repository
          repository_organization: 'survos'
          repository_name: '${{ matrix.package.split_repository }}'

          # [optional, with "github.com" as default]
#          repository_host: git.private.com:1234

          # ↓ the user signed under the split commit
#          user_name: "survos-ci"
          user_name: "tacman"
          user_email: "info@survos-ci.com"

      # with tag
      -
        if: "startsWith(github.ref, 'refs/tags/')"
        uses: danharrin/monorepo-split-github-action@v2.3.0
        with:
          tag: ${GITHUB_REF#refs/tags/}

          # ↓ split "packages/easy-coding-standard" directory
          package_directory: 'packages/${{ matrix.package.local_path }}'

          # ↓ into https://github.com/symplify/easy-coding-standard repository
          repository_organization: 'survos'
          repository_name: '${{ matrix.package.split_repository }}'

          # [optional, with "github.com" as default]
#          repository_host: git.private.com:1234

          # ↓ the user signed under the split commit
          user_name: "tacman"
          user_email: "info@survos-ci.com"
